body{
	margin:auto;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
	background-image:url("http://i.huffpost.com/gen/1895746/images/o-CREATIVE-facebook.jpg");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:90%;
	margin: 2cm 2cm 0cm 12cm;
	max-width:none;
	min-height:65%;
	position: fixed;
	}
.login-html{
	width:50%;
	height:700px;
	padding:30px 30px 0px 30px;
	background:rgba(0,0,0,.8);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:0px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
#header{
width: 100%;
height: 80px;
background: #333;
box-shadow: 0px 2px 4px gray;
opacity: .9;
filter: alpha(opacity=100);
}
#logo{
width:200px;
height: 80px;
float: left;
padding-left:0px;
}
#navbar{
width:1000px;
height:80px;
margin: 0px auto;
float: right;
}
#navbar>li{
float: right;
list-style: none;
width: 120px;height: 80px;
}
li>a{
text-decoration: overline;
color: white;
font-family:book antiqua;
font-size: 15px;
line-height: 80px;
display: block;
text-align: center;
}
li>a:hover,
li>a:focus{
background: skyblue;
color: #333;
}
#res_btn{
width: 50px;
height: 80px;
float: right;
display: none;
}
@media screen and (max-width:1260px){
#logo>img{
width:150px;
height: 80px;
max-width:300PX;
max-height:80px;
float: left;
padding-left:20px;
padding-top: 10px;
}
#navbar{
width:800px;
height: 80px;
margin: 0px auto;
float: right;
}
#navbar>li{
float: left;
list-style: none;
width: 150px;
height: 80px;
border-right:1px solid #534444;
border-left: 1px solid #534444;
}
li>a{
text-decoration: none;
color: white;
font-family: cursive;
font-size: 20px;
line-height: 80px;
display: block;
text-align: center;
}
}
@media screen and (max-width:1060px){
#header{
width: 100%;
height: 80px;
background: #333;
box-shadow: 0px 2px 4px gray;
position:relative;top:80px;
}
#logo{
width:100%;
height: 90px;
float: left;
padding-left:20px;
padding-top: 10px;
position: absolute;
top:-90px;
background: white;
}
#navbar{
width:100%;
height: 60px;
margin: 0px auto;
}
#navbar>li{
width: 18%;
}
li>a{
font-size: 16px;
}
}
@media screen and (max-width:768px){
#header{height: 50px;}
#navbar{width:100%;height: 50px;margin: 0px auto;}
#navbar>li{width: 19%;height: 50px;}
li>a{font-size: 16px;line-height: 50px;}
}
@media screen and (max-width: 480px){
#header{
height: 0px;
}
#navbar{
width:100%;
height: 50px;
margin: 0px auto;
margin-top:-40px;
display: none;
}
#navbar>li{
float: none;
list-style: none;
width: 100%;
height: 50px;
background: #333;
border-bottom: 1px solid skyblue;
}
li>a{
font-size: 16px;
line-height: 50px;
}
#res_btn{
display: block;
position: relative;
top:-80px;
cursor: pointer;
}
